{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<!-- <h1 align="center">Notes</h1> -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor%}
</ul>
<form method="POST">
  <div class="form-group">
    <textarea
      name="note"
      id="note"
      class="form-control"
      rows="15"
      placeholder="Notes"
    ></textarea>
  </div>
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
